<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <script src="/script.js"></script>
        <%- include('./partials/nav.ejs') %>
            <div class="details">
                <h2>
                    <%= blog.title %>
                </h2>
                <div class="content">
                    <p>
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %> "><img src="/icons8-trash-50.png" alt=""></a>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>